<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.mcgill.ecse321.scorekeep">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InputActivity"
            android:label="@string/title_activity_input"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.mcgill.ecse321.scorekeep.MainActivity" />
        </activity>
        <activity
            android:name=".LiveEntryActivity"
            android:label="@string/title_activity_live_entry"
            android:parentActivityName=".InputActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.mcgill.ecse321.scorekeep.InputActivity" />
        </activity>
        <activity
            android:name=".NewPlayerActivity"
            android:label="@string/title_activity_new_player"
            android:parentActivityName=".InputActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.mcgill.ecse321.scorekeep.InputActivity" />
        </activity>
        <activity
            android:name=".NewTeamActivity"
            android:label="@string/title_activity_new_team"
            android:parentActivityName=".InputActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.mcgill.ecse321.scorekeep.InputActivity" />
        </activity>
        <activity
            android:name=".PlayerViewActivity"
            android:label="@string/title_activity_player_view"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.mcgill.ecse321.scorekeep.MainActivity" />
        </activity>
        <activity
            android:name=".ViewActivity"
            android:label="@string/title_activity_view"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.mcgill.ecse321.scorekeep.MainActivity" />
        </activity>
        <activity
            android:name=".AddMatchActivity"
            android:label="@string/title_activity_add_match"
            android:parentActivityName=".InputActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.mcgill.ecse321.scorekeep.InputActivity" />
        </activity>
    </application>

</manifest>
